<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
</head>
<body>
    <h1><%= kindOfDay %></h1>

    <ul>
        <li>Eat</li>
        <li>SLeep</li>
        <li>Repeat</li>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="Enter new item...">
        <button type="submit" name="submit">Add Item</button>
    </form>
</body>
</html>